<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/boggle.js"></script>
</head>
<body>
{% for ele in board %}
    <div>{{ele}}</div>
{%endfor%}
 


<form action="/game">
    <label>GUESS</label>
    <input type ="text" placeholder="word" name="guess">
    <button id='enter'>SUBMIT</button>
</form>
<form action='/'>
    <button id = 'reset'>Reset Game</button>

</body>



<ul>  

</ul>    

<p>{{check}}
{{result}}</p>

Points:

{{session['running_total']}}


</html>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/boggle.js"></script>